@keyframes sine {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(20deg);
    }
}

@keyframes fade-in {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 100;
    }
}

@keyframes fade-out {
    from {
        transform: translateY(0px);
        opacity: 100;
    }

    to {
        transform: translateY(-10px);
        opacity: 0;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715)
}

.show {
    visibility: visible;
    opacity: 1;
    transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715)
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}

.leaving-screen {
    opacity: 0;
    transform: translateX(-110vh);
}

.leaving-screen-right {
    opacity: 0;
    transform: translateX(110vh);
}

.entering-screen {
    transform: translateX(0);
}