:root {
    --primary-color: #e67761;
    --primary-color-hover: #de573c;
}

html[data-theme="light"] {
    --text-color: #4B4B4B;
    --background-color: #fff;
}
html[data-theme="dark"] {
    --text-color: #fff;
    --background-color: #333;
}