// FLEXBOX MIXINS

@mixin flex-row ($justify-content: 'inherit'){
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row-center ($justify-content: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// CENTER

@mixin center-with-margin ($margin: 0 auto, $width: 50%) {
    margin: $margin;
    width: $width;
}

@mixin center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-position-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-position-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}