// FLEXBOX MIXINS

@mixin flex-row ($justify-content: 'inherit') {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row-center ($justify-content: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// GRID

@mixin grid ($columns: 2, $gap: 16px) {
    display: grid;
    grid-template-columns: repeat($columns, .4fr);
    gap: $gap;
}


// CENTER

@mixin center-with-margin ($margin: 0 auto, $width: 50%) {
    margin: $margin;
    width: $width;
}

@mixin center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-position-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-position-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// BUTTON

@mixin button ($primary-color: var(--primary-color), $primary-color-hover: var(--primary-color-hover)) {
    display: inline-block;
    width: max-content;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    color: white;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
        transform: translateY(-3px);
        background-color: $primary-color-hover;
    }
}

@mixin link-properties ($color: var(--primary-color), $hover-color: var(--primary-color-hover)) {
    color: $color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: $hover-color;
    }
}