@use "variables" as *;
@use "mixins" as *;


.dashboard-container {
	@include flex-column;
    gap:30px;
	animation: fade-in .5s;
}

.dashboard-container::-webkit-scrollbar {
	display: none;
}

.dashboardColumn1-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dashboardColumn1-container{
    gap: 20px;
}

.dashboardColumn2-container{
	@include flex-row-center;
    gap: 20px;
}

.chart-container {
	height: 300px;
	width: 80vw;

	canvas {
		background-color: #fff;
		border-radius: 10px;
		border: 2px solid #e67761;
		padding: 20px;
	}
}

.greeting {
	display: flex;
	font-size: 2rem;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.masteredWords {
	width: 80vw;
	height: auto;
	padding: 20px;
	background-color: var(--secondary-color-opacity);
	border-radius: 10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.learnLanguage {
	@include button;
}

.learnLanguage.disabled {
	background: rgba(128, 128, 128, 0.51);
	cursor:default;
	&:hover {
		background: rgba(128, 128, 128, 0.51);
		transform: none;
	}
}

