@use 'variables' as *;
@use 'mixins' as *;
@use 'animations' as *;


.mascot-wrapper {
    transition: transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.leaving-screen {
        transition: all 1s cubic-bezier(0.3, 0.2, 0.2, 0.715)
    }

    &:hover {
        transform: rotate(10deg);
    }

}

.mascot {
    animation: sine 5s ease-in-out infinite;

    @media screen and (max-width: 900px) {
        width: 250px;
        height: 250px;
    }
}

.homepage-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, .4fr);
    gap: 20px;
    align-items: center;

    margin-top: 100px;

    animation: fade-in .5s;

    @media screen and (max-width: 1200px) {
        display: flex;
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
        margin-top: 25px;
    }


    .left-side {
        text-align: center;
        position: relative;

        span {
            content: '';
            display: block;
            width: 300px;
            height: 100px;
            background-color: var(--primary-color);
            border-radius: 10px;
            opacity: .5;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 20px;
            margin: auto;
            z-index: -1;

            @media screen and (max-width: 900px) {
                width: 200px;
            height: 50px;
            }


            &.leaving-screen {
                transition: all 1.2s cubic-bezier(0.5, 0.2, 0, 0.715)
            }
        }

    }

    .right-side {
        @include flex-column;
        line-height: 1.8;
        gap: 40px;

        @media screen and (max-width: 1200px) {
            width: 40%;
        }

        @media screen and (max-width: 900px) {
            width: 70%;
        }

        h1 {
            @media screen and (max-width: 1200px) {
                font-size: 1.5em;
            }
        }

        h1.leaving-screen-right {
            transition: all .8s cubic-bezier(0.3, 0.2, 0.2, 0.715)
        }

        p {
            font-size: 1.2em;

            &.leaving-screen-right {
                transition: all 1s cubic-bezier(0.4, 0.2, 0.2, 0.715)
            }
        }

        .my-progress,
        .lets-go {
            font-size: 1.1em;

            &.leaving-screen-right {
                transition: all 1.2s cubic-bezier(0.5, 0.2, 0.2, 0.715)
            }
        }
    }
}

.title {
    font-size: 1.2em;
}