@use 'variables' as *;
@use 'mixins' as *;
@use 'keyframes' as *;

.homepage-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, .4fr);
    gap: 20px;
    align-items: center;

    margin-top: 100px;

    .left-side {
        text-align: center;
        position: relative;
        
        .mascot-wrapper {
            transition: transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                transform: rotate(10deg);
            }

        }
        .mascot {
            animation: sine 5s ease-in-out infinite;
        }

        span {
            content: '';
            display: block;
            width: 300px;
            height: 100px;
            background-color: var(--primary-color);
            border-radius: 10px;
            opacity: .5;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 20px;
            margin: auto;
            z-index: -1
        }

    }

    .right-side {
        @include flex-column;
        line-height: 1.8;
        gap: 40px;

        p {
            font-size: 1.2em;
        }

        .lets-go {
            font-size: 1.2em;
        }
    }
}

.title {
    font-size: 1.2em;
}